<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li>
   <ul><a href="/roupas">Roupas</a></ul> 
  <ul><a href="/roupas/cadastrar">Cadastrar Roupas</a></ul>  
  <ul><a href="/gestao/cadastro">Cadastrar administradores</a></ul> 
  <ul><a href="/gestao">Administradores</a></ul> 
  <ul><a href="/usuario"> Usuários</a></ul> 
  <ul><a href="/cadastrousuario">Cadastro de usuários</a></ul>  
    </li>
    <style>
        h1{
            color:rgb(247, 11, 129);
            color:black;
            text-align: center;
            margin-top: 20px;
            font-size: 40px;
        }

        h2{
            color: rgb(255, 102, 166);
            text-align: center;
            margin-top: 10px;
        }

        h2:hover{
            color: rgb(19, 3, 3);
            transition: 0.5s;
            font-size: 25px;
        }
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        img:hover{
            transform: scale(1.05);
            transition: 0.5s;
            box-shadow: 0 0 15px gray;
        }

        body{
            background-color: ghostwhite;
            height: 100vh;
            font-family: monospace;
        }

        #divPrincipal{
            display: flex;
            flex-wrap: wrap;
            height: 80%;
            width: 70%;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            gap: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px gray;
        }

        a{
            font-size: 20px;
        }
    </style>
</body>
</html>