<html>
<head>
    <title>Cadastrar Roupa</title>

    <style>
       
        h1{
            color:black;
            left:50px;
            margin-top: 20px;
            font-size: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-family: cursive;
        }

        h3{
            color: black;
            text-align: center;
            margin-top: 10px;
        }
        p{
            color: black;
            text-align: center;
            margin-top: 10px;
        }
        img{
            width: 150px;
            height: 170px;
            border-radius: 0%;
            border-style:double; border-color: #cf1b6f;
        }

        body{

            background-color: pink;
            height: 100vh;
            font-family: monospace;

        }

        #divPrincipal{
            display: flex;
            flex-wrap: wrap;
            height: 80%;
            width: 100%;
            margin: 0 auto;
            justify-content:left;
            align-items: center;
            gap: 20px;
        }
        p{
            font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Cadastrar Roupa</h1>

    <div id="divPrincipal">
        <form action="/roupas/cadastrar" method="post">

           

             <label for="iptPeca">Peça</label>
            <input type="text" id="iptPeca" name="peca" required>

            <br><br>

             <label for="iptTecido">Tecido</label>
            <input type="text" id="iptTecido" name="tecido" required>

            <br><br>

            <label for="iptValor">Valor (R$)</label>
            <input type="number" id="iptValor" name="valor" step="0.01" required>

            <br><br>
            <label for="iptImagem">URL da imagem</label>
            <input type="text" id="iptImagem" name="imagem" required>



            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>