<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li>
   <ul><a href="/roupas">Roupas</a></ul> 
  <ul><a href="/roupas/cadastrar">Cadastrar Roupas</a></ul>  
  <ul><a href="/gestao/cadastro">Cadastrar administradores</a></ul> 
  <ul><a href="/gestao">Administradores</a></ul> 
  <ul><a href="/usuario"> Usuários</a></ul> 
  <ul><a href="/cadastrousuario">Cadastro de usuários</a></ul>  
 



    </li>
    <style>
        .topo-loja {
            display: flex;
            justify-content: space-between;
            align-items: center;        
            background-color: deeppink;    
            padding: 15px 30px;          
            font-family: Arial, sans-serif;
        }
        
        h1{
            color:black;
            left:50px;
            margin-top: 20px;
            font-size: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-family: cursive;
        }

        h3{
            color: black;
            text-align: center;
            margin-top: 10px;
        }
        p{
            color: black;
            text-align: center;
            margin-top: 10px;
        }
        img{
            width: 150px;
            height: 170px;
            border-radius: 0%;
            border-style:double; border-color: #cf1b6f;
        }

        body{

            background-color: pink;
            height: 100vh;
            font-family: monospace;

        }

        #divPrincipal{
            display: flex;
            flex-wrap: wrap;
            height: 80%;
            width: 100%;
            margin: 0 auto;
            justify-content:left;
            align-items: center;
            gap: 20px;
        }
        p{
            font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</body>
</html>